<header class="navbar navbar-expand-lg navbar-dark mainHeader width100 desktopHeader">
<!-- Navbar -->
  <div class="grid-container">

    <div class="area-logo">
      <img src="" height="70px" width="280" alt="Website Logo">
    </div>

    <app-nav-main class="area-nav-main flex-container-row" [items]="navBarMain"></app-nav-main>

    <app-nav-main class="area-nav-travel flex-container-row" [items]="navBarTravel"></app-nav-main>

    <div class="area-search">
      whatever
    </div>

    <div class="area-contact flex-container-col">
      <app-nav-main class="area-nav-travel flex-container-row" [items]="contact"></app-nav-main>
      <p>
        0261 / 29 35 19 19
      </p>
      <p>
        Mo.-Fr. 08-19 Uhr
      </p>
      <p>
        Sa., So. & Feiertage 10-19 Uhr
      </p>
    </div>

  </div>

</header>
