$icomoon-font-family: "Mars" !default;
$icomoon-font-path: "font" !default;

$mars-icon-plane: unquote('"\\e909"');
$mars-icon-ship: unquote('"\\e90a"');
$mars-icon-car: unquote('"\\e90c"');
$mars-icon-print-preview: unquote('"\\e9b2"');
$mars-icon-magnifying-glass: unquote('"\\e97b"');
$mars-icon-facebook: unquote('"\\e9bf"');
$mars-icon-instagram: unquote('"\\e9c0"');
$mars-icon-tiktok: unquote('"\\e9c1"');
$mars-icon-youtube: unquote('"\\e9c2"');
$mars-icon-telegram: unquote('"\\e900"');
$mars-icon-ranking-colored-path1: unquote('"\\e90b"');
$mars-icon-ranking-colored-path2: unquote('"\\e929"');
$mars-icon-ranking-path1: unquote('"\\e92b"');
$mars-icon-ranking-path2: unquote('"\\e92c"');

