$icomoon-font-family: "Mars" !default;
$icomoon-font-path: "fonts" !default;

$mars-icon-plane: unquote('"\\e909"');
$mars-icon-ship: unquote('"\\e90a"');
$mars-icon-car: unquote('"\\e90c"');
$mars-icon-star: unquote('"\\e965"');
$mars-icon-alpaca: unquote('"\\e94c"');
$mars-icon-search-plus: unquote('"\\e979"');
$mars-icon-search-minus: unquote('"\\e97a"');
$mars-icon-magnifying-glass: unquote('"\\e97b"');
$mars-icon-arrow-left: unquote('"\\e98f"');
$mars-icon-arrow-right: unquote('"\\e991"');
$mars-icon-facebook: unquote('"\\e9bf"');
$mars-icon-instagram: unquote('"\\e9c0"');
$mars-icon-tiktok: unquote('"\\e9c1"');
$mars-icon-youtube: unquote('"\\e9c2"');
$mars-icon-telegram: unquote('"\\e900"');
$mars-icon-ranking-colored-path1: unquote('"\\e90b"');
$mars-icon-ranking-colored-path2: unquote('"\\e929"');
$mars-icon-ranking-path1: unquote('"\\e92b"');
$mars-icon-ranking-path2: unquote('"\\e92c"');

